## Code Completion

- [Quick Start](https://beta.openai.com/docs/guides/code/quickstart)
- [More Examples](https://beta.openai.com/examples?category=code)

Request to be added on Codex beta waitlist,

The following examples use `text-davinci-002` model, which is less optimal than `codex`

### Saying "Hello" (Python)

In [5]:
"""
Ask the user for their name and say "Hello"
"""
print("What is your name?")

name = input()

print("Hello, " + name)

What is your name?
John
Hello, John

### Create random names (Python)

"""
Generate random names in python:
1. Create a list of first names
2. Create a list of last names
3. Combine them randomly into a list of 100 full names 
"""
from random import randint  # added my me

names = ["John", "Mary", "Jane", "Bob"]
lastnames = ["Smith", "Jones", "Williams"]

fullnames = []

for i in range(100):

    fullnames.append(names[randint(0, len(names)-1)] + lastnames[randint(0, len(lastnames)-1)])

print(fullnames)

In [10]:
# Python 3
# Create a function to count to 10

def counter():
    for i in range(11):
        print(i)

counter()

0
1
2
3
4
5
6
7
8
9
10

# Python 3
# Calculate the mean distance between an array of points and their cluster centroid
def get_means(points, clusters, labels):
    means = []
    for cluster in clusters:
        if len(cluster) == 0:
            means.append(0)
        else:
            mean = np.mean(cluster, axis=0)
            means.append(mean)
    return means

# Calculate the average distance of the points from their cluster centroid
def calculate_means(points, clusters, labels):
    means = get_means(points, clusters, labels)
    
    # Get the mean of the distances of each point to its cluster centroid
    mean_distances = []
    for i in range(0, len(points)):
        mean_distance = get_distance(points[i], means[labels[i]])
        mean_distances.append(mean_distance)
    return np.mean(mean_distances)

### Creat a query

# Table albums, columns = [AlbumId, Title, ArtistId]
# Table artists, columns = [ArtistId, Name]
# Table media_types, columns = [MediaTypeId, Name]
# Table playlists, columns = [PlaylistId, Name]
# Table playlist_track, columns = [PlaylistId, TrackId]
# Table tracks, columns = [TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, UnitPrice]

# Create a query for all albums by Adele

Output:

SELECT AlbumId, Title, ArtistId
FROM Albums
WHERE ArtistId = 'Adele'

### Create a MySQL query (Python)

In [7]:
"""
Table customers, columns = [CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId]
Create a MySQL query for all customers in Texas named Jane
"""
query = """
SELECT * FROM customers
WHERE State='TX'
AND FirstName='Jane'
"""

The following is a Python script that will create a MySQL table called "customers" with the following columns: CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Fax, Email, SupportRepId.

In [8]:
import MySQLdb
conn = MySQLdb.connect("localhost","root","","customers")
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE customers
(
CustomerId INT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
FirstName VARCHAR(255),
LastName VARCHAR(255),
Company VARCHAR(255),
Address VARCHAR(255),
City VARCHAR(255),
State VARCHAR(255),
Country VARCHAR(255),
PostalCode VARCHAR(255),
Phone VARCHAR(255),
Fax VARCHAR(255),
Email VARCHAR(255),
SupportRepId INT
)
""")
conn.commit()
conn.close()

ModuleNotFoundError: No module named 'MySQLdb'

### Explaining code (JavaScript)

// Function 1
var fullNames = [];
for (var i = 0; i < 50; i++) {
  fullNames.push(names[Math.floor(Math.random() * names.length)]
    + " " + lastNames[Math.floor(Math.random() * lastNames.length)]);
}

// What does Function 1 do?

Output:

// Function 1 creates a list of 50 first and last names

### Create sample data

/* Create an array of weather temperatures for San Francisco */

var weather = [
    {
        "day": "Jan 1",
        "temperature": 60
    },
    {
        "day": "Jan 2",
        "temperature": 58
    },
    {
        "day": "Jan 3",
        "temperature": 57
    },
    {
        "day": "Jan 4",
        "temperature": 60
    },
    {
        "day": "Jan 5",
        "temperature": 62
    },
    {
        "day": "Jan 6",
        "temperature": 65
    },
    {
        "day": "Jan 7",
        "temperature": 65
    },
    {
        "day": "Jan 8",
        "temperature": 64
    },
    {
        "day": "Jan 9",
        "temperature": 64
    },
    {
        "day": "Jan 10",
        "temperature": 63
    },
    {
        "day": "Jan 11",
        "temperature": 60
    }
]

### Create and Explain an SQL query

#### Create query

# Table department, columns = [Id, Name]
# Table employee, columns = [Id, department_id]
# Table salary_payments, columns = [Id, employee_id, date]

# Create a query to find out the name of departments where more than 10 employees were paid their salary in the month of June 2020.

Output:

select d.name as 'Department Name'
from department as d
join employee as e on d.id = e.department_id
join salary_payments as s on s.employee_id = e.id
where s.date like 'June 2020'
group by d.name
having count(*) > 10

#### Explain query

SELECT DISTINCT department.name
FROM department
JOIN employee ON department.id = employee.department_id
JOIN salary_payments ON employee.id = salary_payments.employee_id
WHERE salary_payments.date BETWEEN '2020-06-01' AND '2020-06-30'
GROUP BY department.name
HAVING COUNT(employee.id) > 10;
-- Explanation of the above query in human readable format
-- 

Output:
-- Get all departments that have at least 10 employees who were paid salary in June 2020